# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Node
node_modules/
.vite/
dist/

# OS
.DS_Store
Thumbs.db

#unnecessary files
.venv/
__pycache__/
*.pyc
frontend/.vite/
backend/database/
backend/static/reports/